.calendario-container {
  background-color: #fcfcfc;
}
.fc .fc-col-header-cell-cushion {
  color: black;
  font-weight: 600;
  font-size: 1rem;
}
/* Números dos dias do calendário */
.fc .fc-daygrid-day-number {
  color: black !important;   
  font-weight: bold;          
  font-size: 1rem;            
}

/* Garantir que eventos em dayGrid tenham fundo preenchido e bordas arredondadas */
.fc .fc-daygrid-event {
  border-radius: 6px;
  padding: 2px 4px;
}

/* Ajuste de contraste do texto dentro do evento */
.fc .fc-daygrid-event .fc-event-title {
  font-weight: 600;
}

