.calendario-container {
  background-color: #fcfcfc;
}
.fc .fc-col-header-cell-cushion {
  color: black;
  font-weight: 600;
  font-size: 1rem;
}
/* Números dos dias do calendário */
.fc .fc-daygrid-day-number {
  color: black !important;   
  font-weight: bold;          
  font-size: 1rem;            
}

